/explorations/
/literatures/
/NegPrompt/
/CoOp_works/CoOp/clip/__pycache__/
/CoOp_works/CoOp/datasets/__pycache__/
/CoOp_works/CoOp/output/caltech101/
/CoOp_works/CoOp/output/ZeroshotCLIP/
/CoOp_works/CoOp/output/imagenet/NegPrompt/
/CoOp_works/Dassl.pytorch/dassl/
/DATA/imagenet/split_fewshot/
/DATA/imagenet/preprocessed.pkl
__pycache__/
*.pyc
